<h2>Stay organized, digitize!</h1>
    <p> Upload your personal documents and store them digitally, for security backup and decluttering. Attach scans, images, document files, and organize them in categories of your choice.
    Access them easily from your laptop, smartphone, or tablet.
    </p>

