<%= image_tag '/images/background_centred.png', class: "img-fluid" %>
<h1> welcome to the homepage </h1>

<%= link_to 'Add new document', digitize_path %>
<%= link_to 'Browse your documents', dashboard_path %>
