<h1>Listing documents</h1>
<div class="container">
  <div class="row">
    <div class="col-sm tile">
      <% @documents.each do |document| %>
        <span> <img src="assets/rss.jpg" alt="rss feed"/></span>
        <span><%= document.name %></span>
        <span><%= document.issue_date %></span>
        <span> One of three columns </span>
      <% end %>
      <%= link_to "New Document", new_document_path, class: "btn btn-xs btn-success" %>
      <div class="col-sm tile">
      </div>
    </div>
  </div>
</div>
